<div class="container card" id="main">
    <div class="row" id="title">
        <div class="col-lg-6 date">
            <h1>Pacientes</h1>
        </div>
        <div class="col-lg-6" id="search-by-name-input">
            <app-busqueda-paciente (searchPatientEvent)="getPatients($event)"></app-busqueda-paciente>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="table-responsive-lg text-center">
                <table class="table table-bordered">
                    <thead class="table-dark">
                        <tr>
                            <th>Nombre</th>
                            <th>Número de contacto</th>
                            <th>Afiliación de salud</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let paciente of pacientes">
                            <td>{{paciente.nombre + " " + paciente.apellido}}</td>
                            <td>{{paciente.telefono}}</td>
                            <td>{{paciente.afiliacionSalud}}</td>
                            <td>
                                <div class="row">
                                    <div class="col-lg-12 text-center">
                                        <button [routerLink]="['../../', paciente.idPaciente]" class="btn btn-primary"
                                            type="button">Ver detalle</button>
                                        <button (click)="getAtencionesDeUnPaciente(paciente)" class="btn btn-primary"
                                            type="button" data-toggle="modal" data-target="#atencionesPaciente">Ver
                                            atenciones</button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <app-paginador *ngIf="paginador" [paginador]='paginador'></app-paginador>
            </div>
        </div>
    </div>
</div>

<!-- Modal que muestra las atenciones que ha agendado un paciente -->
<div class="modal fade bd-example-modal-lg" id="atencionesPaciente" tabindex="-1" role="dialog"
    aria-labelledby="atencionesPacienteLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row">
                    <div class="col-lg-6">
                        <h3>{{paciente.nombre + " " + paciente.apellido}}</h3>
                        <h5>Historial de atenciones</h5>
                    </div>
                    <div class="col-lg-6">
                        <app-filtrar-asistencia (filterEvent)="actualizarAtencionesFiltradas($event)">
                        </app-filtrar-asistencia>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="table table-responsive-lg">
                            <table class="table table-bordered">
                                <thead class="table-dark">
                                    <tr>
                                        <th>Fecha</th>
                                        <!-- Debiese incluir la hora de la atención? Consultar. -->
                                        <th>Asistencia</th>
                                        <th>Pago</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let atencion of atencionesUltimosSeisMeses">
                                        <td>{{formatDisplayFechaAtencion(atencion)}}</td>
                                        <td *ngIf="atencion.asistencia == 1">Sí, asiste a sesión de terapia</td>
                                        <td *ngIf="atencion.asistencia == -1">No, falta a sesión de terapia</td>
                                        <td *ngIf="atencion.asistencia == 0">Asistencia pendiente</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class=" modal-footer">
                <div class="row">
                    <div class="col-lg-6 text-left">
                        <button (click)="backSixMonths()" class="btn btn-primary" type="button"><i
                                class="bi bi-arrow-left-short"></i>Retroceder 6
                            meses</button>
                        <button (click)="forwardSixMonths()" class="btn btn-primary" type="button"><i
                                class="bi bi-arrow-right-short"></i>Avanzar 6
                            meses</button>
                    </div>
                    <div class="col-lg-6 text-right">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>