<form>
    <div class="form-group">
        <label for="filtra-asistencia">Filtrar por asistencia</label>
        <div class="input-group">
            <span class="input-group-text"><i class="bi bi-person-check-fill"></i></span>
            <select required name="filtra-asistencia" id="filtra-asistencia" class="form-select" ngModel
                #asistencia="ngModel">
                <option value="" selected>Filtrar...</option>
                <option value="1">Atenciones asistidas</option>
                <option value="-1">Atenciones no asistidas</option>
            </select>
        </div>
    </div>
    <button (click)="filter(asistencia.value)" [disabled]="asistencia.invalid || asistencia.value == 0"
        class="btn btn-primary" type="submit">Filtrar</button>
</form>