<div class="container" id="main">
    <div class="row">
        <div class="col-lg-12">
            <div class="table-responsive-lg">
                <table class="table table-bordered">
                    <thead class="table-dark">
                        <tr>
                            <th>Hora</th>
                            <th>Nombre paciente</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let hora of horasFechaDelDia">
                            <td>{{hora.horaAtencion.slice(0, 5)}} hrs.</td>
                            <td>{{hora.paciente.nombre + " " + hora.paciente.apellido}}</td>
                            <td>
                                <div class="row">
                                    <button [routerLink]="['/nuevo-horario', hora.idAtencion]" class="btn btn-primary"
                                        type="button">Modificar</button>
                                    <button (click)="eliminarHorario(hora.idAtencion, hora)" class="btn btn-primary"
                                        type="button">Eliminar</button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Modal que muestra el detalle (datos) de una hora de atención específica -->
<!-- FALTA AGREGAR SI LA HORA FUE CANCELADA O NO Y MODALIDAD DE PAGO -->
<!-- AGREGAR BOTÓN PARA MODIFICAR LOS DATOS EN MODAL ?-->
<div class="modal fade" id="detalleHora" tabindex="-1" role="dialog" aria-labelledby="detalleHoraLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="detalleHoraLabel">Paciente:
                    {{horario.paciente.nombre}}
                    {{horario.paciente.apellido}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-6">
                        <h5>N° de sesión: {{horario.nroConsulta}}</h5>
                    </div>
                    <div class="col-6">
                        <h5>
                            Afiliación de salud: {{horario.paciente.afiliacionSalud}}
                        </h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-center">
                        <h5 *ngIf="horario.confirmaAsistencia">Asistencia confirmada por el paciente
                        </h5>
                        <h5 *ngIf="!horario.confirmaAsistencia">El paciente no confirmó su asistencia</h5>
                    </div>
                </div>
            </div>
            <div class=" modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>