.table-dark {
    background-color: #284b63;
}

button {
    background-color: #284b63;
    border-color: #284b63;
    margin: 0px 5px;
}

button:hover, button:focus {
    background-color: #d9d9d9;
    border-color: #d9d9d9;
    color: #353535;
}

table {
    margin-top: 10px;
}
