#no-appointments {
    font-size: 80px;
}

#options {
    border-top: 5px solid #284b63;
    border-bottom: 5px solid #284b63;
    padding: 10px 20px;
}

.confirmacion, .confirmacion:hover, .confirmacion:focus {
    background-color: #007f5f;
    border-color: #007f5f;
}

.container {
    padding: 20px 0px;
}

.icon-confirm {
    color: #007f5f;
}

.icon-fail {
    color: #d33;
}

.icon-confirm, .icon-fail {
    font-size: 30px;
    margin-bottom: 20px;
}

.margin {
    margin: 30px 0px;
}

.modal-content {
    padding: 20px 40px;
}

.modal-header {
    border-bottom: 5px solid #284b63;
}

.no-confirma, .no-confirma:hover, .no-confirma:focus {
    background-color: #d33;
    border-color: #d33;
}

.resized-icons {
    font-size: 30px;
}

.table-dark {
    background-color: #284b63;
}

button, button:focus, button:hover {
    background-color: #284b63;
    border-color: #284b63;
    margin: 0px 5px;
}

h3 {
    color: #284b63;
}

i {
    font-size: 40px;
    color: #284b63;
}

table {
    margin-top: 10px;
}
