<div id="main">
    <div class="row">
        <div class="col-lg-12" id="title">
            <h2>{{paciente.nombre + " " + paciente.apellido}}</h2>
            <h4>Complete los campos solicitados para registrar la ficha de tratamiento del paciente.</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12" id="body">
            <form>

                <!-- Motivo consulta profesional -->
                <div class="col-lg-12">
                    <div class="form-group">
                        <label for="motivo-consulta-profesional" class="form-label">Motivo de la consulta:</label>
                        <div class="input-group">
                            <span class="input-group-text"><i class="bi bi-question-circle"></i></span>
                            <textarea
                                [ngStyle]="(motivoConsulta.touched || motivoConsulta.dirty) && !motivoConsulta.value?.trim() ? {'border': 'solid 2px red'} : {}"
                                name="motivo-consulta-profesional" id="motivo-consulta-profesional" cols="12" rows="6"
                                class="form-control" ngModel #motivoConsulta="ngModel"
                                [(ngModel)]="fichaTratamiento.motivoConsultaProfesional" required
                                maxLength="2000"></textarea>

                            <!-- Para manejar el dictado por voz -->
                            <span class="input-group-text">
                                <!-- Botón que inicia el dictado por voz -->
                                <button *ngIf="!recording" class="btn btn-primary btn-dictado" type="button"
                                    title="Iniciar dictado por voz" (click)="record(1)"><i
                                        class="bi bi-mic-fill"></i></button>

                                <!-- Botón que detiene el dictado por voz -->
                                <button [disabled]="disable[0]" *ngIf="recording" class="btn btn-primary btn-dictado"
                                    type="button" title="Detener dictado por voz" (click)="stopRecording(1)"><i
                                        class="bi bi-mic-mute-fill"></i></button>
                            </span>
                        </div>

                        <!-- Manejo de errores -->
                        <div class="col-lg-12"
                            *ngIf="motivoConsulta.invalid && (motivoConsulta.touched || motivoConsulta.dirty)">
                            <div *ngIf="motivoConsulta.errors?.required">
                                <small class="text-danger">Se debe ingresar el motivo de la consulta.</small>
                            </div>
                            <div
                                *ngIf="motivoConsulta.errors && !motivoConsulta.errors.required && !motivoConsulta.errors.pattern">
                                <small class="text-danger">Solo se permite un máximo de 2000 caracteres.</small>
                            </div>
                        </div>

                        <div *ngIf="!motivoConsulta.value?.trim() && !motivoConsulta.errors?.required"
                            class="col-lg-12">
                            <small class="text-danger">Se debe ingresar el motivo de la consulta.</small>
                        </div>

                        <!-- Para mostrar los caracteres restantes -->
                        <div
                            *ngIf="motivoConsulta && motivoConsulta.value?.length > 1500 && motivoConsulta.value?.length < 2000">
                            <small class="text-secondary">Quedan {{2000 - motivoConsulta.value?.length}}
                                caracteres.</small>
                        </div>
                    </div>
                </div>

                <!-- Resultado del diagnóstico -->
                <div class="col-lg-12">
                    <div class="form-group">
                        <label for="resultado-diagnostico" class="form-label">Resultado del diagnóstico:</label>
                        <div class="input-group">
                            <span class="input-group-text"><i class="bi bi-person-check-fill"></i></span>
                            <textarea
                                [ngStyle]="(resultadoDiagnostico.touched || resultadoDiagnostico.dirty) && !resultadoDiagnostico.value?.trim() ? {'border': 'solid 2px red'} : {}"
                                name="resultado-diagnostico" id="resultado-diagnostico" cols="12" rows="6"
                                class="form-control" ngModel #resultadoDiagnostico="ngModel"
                                [(ngModel)]="fichaTratamiento.resultadoDiagnostico" required
                                maxLength="2000"></textarea>

                            <!-- Para manejar el dictado por voz -->
                            <span class="input-group-text">
                                <!-- Botón que inicia el dictado por voz -->
                                <button *ngIf="!recording" class="btn btn-primary btn-dictado" type="button"
                                    title="Iniciar dictado por voz" (click)="record(2)"><i
                                        class="bi bi-mic-fill"></i></button>

                                <!-- Botón que detiene el dictado por voz -->
                                <button [disabled]="disable[1]" *ngIf="recording" class="btn btn-primary btn-dictado"
                                    type="button" title="Detener dictado por voz" (click)="stopRecording(2)"><i
                                        class="bi bi-mic-mute-fill"></i></button>
                            </span>
                        </div>

                        <!-- Manejo de errores -->
                        <div class="col-lg-12"
                            *ngIf="resultadoDiagnostico.invalid && (resultadoDiagnostico.touched || resultadoDiagnostico.dirty)">
                            <div *ngIf="resultadoDiagnostico.errors?.required">
                                <small class="text-danger">Se debe ingresar el resultado del diagnóstico del
                                    paciente.</small>
                            </div>
                            <div
                                *ngIf="resultadoDiagnostico.errors && !resultadoDiagnostico.errors.required && !resultadoDiagnostico.errors.pattern">
                                <small class="text-danger">Solo se permite un máximo de 2000 caracteres.</small>
                            </div>
                        </div>

                        <div *ngIf="!resultadoDiagnostico.value?.trim() && !resultadoDiagnostico.errors?.required"
                            class="col-lg-12">
                            <small class="text-danger">Se debe ingresar el resultado del diagnóstico del
                                paciente.</small>
                        </div>

                        <!-- Para mostrar los caracteres restantes -->
                        <div
                            *ngIf="resultadoDiagnostico && resultadoDiagnostico.value?.length > 1500 && resultadoDiagnostico.value?.length < 2000">
                            <small class="text-secondary">Quedan {{2000 - resultadoDiagnostico.value?.length}}
                                caracteres.</small>
                        </div>
                    </div>
                </div>

                <!-- Sugerencia de tratamiento -->
                <div class="col-lg-12">
                    <div class="form-group">
                        <label for="sugerencia-tratamiento" class="form-label">Sugerencia de tratamiento:</label>
                        <div class="input-group">
                            <span class="input-group-text"><i class="bi bi-chat-dots-fill"></i></span>
                            <textarea
                                [ngStyle]="(sugerenciaTratamiento.touched || sugerenciaTratamiento.dirty) && !sugerenciaTratamiento.value?.trim() ? {'border': 'solid 2px red'} : {}"
                                name="sugerencia-tratamiento" id="sugerencia-tratamiento" cols="12" rows="6"
                                class="form-control" ngModel #sugerenciaTratamiento="ngModel"
                                [(ngModel)]="fichaTratamiento.sugerenciaTratamiento" required
                                maxLength="2000"></textarea>

                            <!-- Para manejar el dictado por voz -->
                            <span class="input-group-text">
                                <!-- Botón que inicia el dictado por voz -->
                                <button *ngIf="!recording" class="btn btn-primary btn-dictado" type="button"
                                    title="Iniciar dictado por voz" (click)="record(3)"><i
                                        class="bi bi-mic-fill"></i></button>

                                <!-- Botón que detiene el dictado por voz -->
                                <button [disabled]="disable[2]" *ngIf="recording" class="btn btn-primary btn-dictado"
                                    type="button" title="Detener dictado por voz" (click)="stopRecording(3)"><i
                                        class="bi bi-mic-mute-fill"></i></button>
                            </span>
                        </div>

                        <!-- Manejo de errores -->
                        <div class="col-lg-12"
                            *ngIf="sugerenciaTratamiento.invalid && (sugerenciaTratamiento.touched || sugerenciaTratamiento.dirty)">
                            <div *ngIf="sugerenciaTratamiento.errors?.required">
                                <small class="text-danger">Se debe ingresar la sugerencia de tratamiento.</small>
                            </div>
                            <div
                                *ngIf="sugerenciaTratamiento.errors && !sugerenciaTratamiento.errors.required && !sugerenciaTratamiento.errors.pattern">
                                <small class="text-danger">Solo se permite un máximo de 2000 caracteres.</small>
                            </div>
                        </div>

                        <div *ngIf="!sugerenciaTratamiento.value?.trim() && !sugerenciaTratamiento.errors?.required"
                            class="col-lg-12">
                            <small class="text-danger">Se debe ingresar la sugerencia de tratamiento del
                                paciente.</small>
                        </div>

                        <!-- Para mostrar los caracteres restantes -->
                        <div
                            *ngIf="sugerenciaTratamiento && sugerenciaTratamiento.value?.length > 1500 && sugerenciaTratamiento.value?.length < 2000">
                            <small class="text-secondary">Quedan {{2000 - sugerenciaTratamiento.value?.length}}
                                caracteres.</small>
                        </div>
                    </div>
                </div>

                <!-- Objetivos de la terapia -->
                <div class="col-lg-12">
                    <div class="form-group">
                        <label for="objetivos-terapia" class="form-label">Objetivos de la terapia:</label>
                        <div class="input-group">
                            <span class="input-group-text"><i class="bi bi-check2-circle"></i></span>
                            <textarea
                                [ngStyle]="(objetivosTerapia.touched || objetivosTerapia.dirty) && !objetivosTerapia.value?.trim() ? {'border': 'solid 2px red'} : {}"
                                name="objetivos-terapia" id="objetivos-terapia" cols="12" rows="6" class="form-control"
                                ngModel #objetivosTerapia="ngModel" [(ngModel)]="fichaTratamiento.objetivosTerapia"
                                required maxLength="2000"></textarea>

                            <!-- Para manejar el dictado por voz -->
                            <span class="input-group-text">
                                <!-- Botón que inicia el dictado por voz -->
                                <button *ngIf="!recording" class="btn btn-primary btn-dictado" type="button"
                                    title="Iniciar dictado por voz" (click)="record(4)"><i
                                        class="bi bi-mic-fill"></i></button>

                                <!-- Botón que detiene el dictado por voz -->
                                <button [disabled]="disable[3]" *ngIf="recording" class="btn btn-primary btn-dictado"
                                    type="button" title="Detener dictado por voz" (click)="stopRecording(4)"><i
                                        class="bi bi-mic-mute-fill"></i></button>
                            </span>
                        </div>

                        <!-- Manejo de errores -->
                        <div class="col-lg-12"
                            *ngIf="objetivosTerapia.invalid && (objetivosTerapia.touched || objetivosTerapia.dirty)">
                            <div *ngIf="objetivosTerapia.errors?.required">
                                <small class="text-danger">Se deben ingresar los objetivos de la terapia a
                                    realizar.</small>
                            </div>
                            <div
                                *ngIf="objetivosTerapia.errors && !objetivosTerapia.errors.required && !objetivosTerapia.errors.pattern">
                                <small class="text-danger">Solo se permite un máximo de 2000 caracteres.</small>
                            </div>
                        </div>

                        <div *ngIf="!objetivosTerapia.value?.trim() && !objetivosTerapia.errors?.required"
                            class="col-lg-12">
                            <small class="text-danger">Se deben ingresar los objetivos de la terapia a realizar.</small>
                        </div>

                        <!-- Para mostrar los caracteres restantes -->
                        <div
                            *ngIf="objetivosTerapia && objetivosTerapia.value?.length > 1500 && objetivosTerapia.value?.length < 2000">
                            <small class="text-secondary">Quedan {{2000 - objetivosTerapia.value?.length}}
                                caracteres.</small>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <!-- Guardar/actualizar la ficha de tratamiento -->
                    <div class="col-lg-6 text-right">
                        <button *ngIf="!fichaTratamiento.idFichaTratamiento; else updateButton"
                            (click)="createFichaTratamiento()"
                            [disabled]="motivoConsulta.invalid || resultadoDiagnostico.invalid || sugerenciaTratamiento.invalid || objetivosTerapia.invalid
                            || !motivoConsulta.value?.trim() || !resultadoDiagnostico.value?.trim() || !sugerenciaTratamiento.value?.trim() || !objetivosTerapia.value?.trim()"
                            class="btn btn-primary" type="submit">Registrar ficha</button>

                        <ng-template #updateButton>
                            <button (click)="updateFichaTratamiento()"
                                [disabled]="motivoConsulta.invalid || resultadoDiagnostico.invalid || sugerenciaTratamiento.invalid || objetivosTerapia.invalid
                                || !motivoConsulta.value?.trim() || !resultadoDiagnostico.value?.trim() || !sugerenciaTratamiento.value?.trim() || !objetivosTerapia.value?.trim()"
                                class="btn btn-primary" type="submit">Guardar cambios</button>
                        </ng-template>
                    </div>

                    <!-- Para volver atrás -->
                    <div class="col-lg-6 text-right">
                        <button
                            (click)="back(motivoConsulta.value, resultadoDiagnostico.value, sugerenciaTratamiento.value, objetivosTerapia.value)"
                            class="btn btn-primary" type="button">Volver</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>