.color {
    color: #284b63;
}

.modal-content {
    padding: 20px 40px;
}

.modal-header {
    border-bottom: 5px solid #284b63;
}

.overflow {
    overflow-wrap: break-word;
}

.row {
    margin-top: 10px;
}

button, button:hover, button:disabled, button:focus {
    background-color: #284b63;
    border-color: #284b63;
}

i {
    font-size: 40px;
    color: #284b63;
}