<!-- Agenda (Horas del día + agendar horas disponibles)-->
<div class="container" id="main">
    <div class="row" id="title">
        <div class="col-lg-6 date">
            <h1>Agenda</h1>
        </div>
        <div class="col-lg-6" id="search-date-input">
            <form>
                <div class="form-group">
                    <label for="fecha-atencion">Buscar horarios para la fecha:</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="bi bi-calendar2-check-fill"></i></span>
                        <input required type="date" class="form-control" id="fecha-atencion" ngModel
                            name="fecha-atencion" #fechaAtencion="ngModel">
                    </div>
                </div>
                <button [disabled]="fechaAtencion.invalid" type="submit" class="btn btn-primary"
                    (click)="searchBySpecificDate(fechaAtencion.value)">Buscar</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 date">
            <h2>
                <!--<button class="btn btn-dark" (click)="previosDay()"><i
                        class="bi bi-arrow-left-circle-fill"></i></button>-->{{titleDate}}
                <!--<button class="btn btn-dark" 
                    (click)="nextDay()"><i class="bi bi-arrow-right-circle-fill"></i></button>-->
            </h2>
        </div>
    </div>
    <div class="row" id="subtitles">
        <div class="col-lg-6 date" id="sobrecupos">
            <h3>Horarios del día</h3>
        </div>
        <div class="col-lg-3" id="button-div">
            <button class="btn btn-primary" data-toggle="modal" data-target="#agendarHora">Agendar horario</button>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <app-horario [fechaActual]="actualDate"></app-horario>
        </div>
    </div>
</div>

<!-- Modal para agendar un nuevo horario de atención dependiendo de si es un
     paciente permanente o uno nuevo -->
<div class="modal fade bd-example-modal-lg" id="agendarHora" tabindex="-1" role="dialog"
    aria-labelledby="agendarHoraLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <!-- Modal header -->
            <div class="modal-header">
                <div class="col-lg-12">
                    <h3 class="modal-title" id="agendarHoraLabel">Nuevo horario de atención</h3>
                    <h6 class="modal-title">
                        Seleccione el tipo de paciente. Si este es nuevo en la consulta, se le permitirá agregar sus
                        datos.
                    </h6>
                </div>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="row icon-row">
                    <div class="col-lg-6 text-center">
                        <i class="bi bi-person-plus-fill icons"></i>
                    </div>
                    <div class="col-lg-6 text-center">
                        <i class="bi bi-person-check-fill icons"></i>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 text-center">
                        <button class="btn btn-primary btn-icons" type="button">Nuevo paciente</button>
                    </div>
                    <div class="col-lg-6 text-center">
                        <button class="btn btn-primary btn-icons" type="button" data-toggle="modal"
                            [routerLink]="['nuevo-horario']" data-dismiss="modal">Paciente permanente</button>
                    </div>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <div class="col-lg text-center">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>  
