#add-icon {
    font-size: 15px;
    background-color: #007f5f;
}

#back-button {
    margin-top: 30px;
}

#main {
    margin-top: 40px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    background-color: #fff;
    border-radius: 15px;
    padding-top: 20px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 80px;
}

#remove-icon {
    font-size: 15px;
    background-color: #d33;
}

#sin-atenciones {
    font-size: 80px;
    background-color: #fff;
}

#text {
    padding-top: 30px;
}

.color {
    color: #284b63;
}

.form-check-input {
    margin-left: -.75rem;
    margin-top: .4rem;
}

.form-check-label {
    margin-left: 7px;
}

.form-control.ng-touched.ng-invalid {
    border: 2px solid red;
}

.form-control.ng-valid {
    border: 2px solid green;
}

.modal-content {
    padding: 20px 40px;
}

.modal-header {
    border-bottom: 5px solid #284b63;
}

.multiple-payment-btn-add, .multiple-payment-btn-add:hover, .multiple-payment-btn-add:disabled {
    background-color: #007f5f;
    border-color: #007f5f;
}

.multiple-payment-btn-remove, .multiple-payment-btn-remove:hover {
    background-color: #d33;
    border-color: #d33;
}

.separate {
    padding-bottom: 25px;
    margin-top: 20px;
    margin-bottom: 10px;
    border-bottom: 5px solid #284b63;
}

.table-dark {
    background-color: #284b63;
}

button, button:disabled, button:focus, button:hover {
    background-color: #284b63;
    border-color: #284b63;
}

i, span {
    background-color: #284b63;
    color: #fff;
}

select {
    width: 343px;
    border-radius: 5px;
    border: 1px solid #d9d9d9;
}

table {
    margin-bottom: 30px;
}

