<div id="main">

    <!-- Título -->
    <div class="row separate">
        <div class="col-lg-7" id="text">
            <h2>{{paciente.nombre + " " + paciente.apellido}}</h2>
            <h4>El/la paciente ha agendado las siguientes atenciones.</h4>
        </div>
        <div class="col-lg-5">
            <app-filtrar-asistencia [title]="'Filtrar las atenciones'" [options]="options"
                (filterEvent)="filtrar($event)"></app-filtrar-asistencia>
        </div>
    </div>

    <!-- Cuerpo -->
    <!-- Botón que permite realización de pago múltiple -->
    <div *ngIf="filtered.length > 0" class="row separate">
        <div class="col-lg-12 text-center">
            <button [disabled]="filtered.length <= 1" *ngIf="!selected" (click)="payMultiple()" class="btn btn-primary"
                type="button">Realizar pago de
                múltiples atenciones</button>

            <button [disabled]="appointmentsToPay.length == 0" *ngIf="selected"
                class="btn btn-primary multiple-payment-btn-add mx-3" type="button" data-toggle="modal"
                data-target="#pay-multiple">Confirmar
                pago</button>

            <button (click)="cancelPayment()" *ngIf="selected" class="btn btn-primary multiple-payment-btn-remove"
                type="button">Cancelar</button>
        </div>
    </div>

    <!-- Tabla que muestra las atenciones -->
    <div class="row">
        <div *ngIf="filtered.length > 0" class="col-lg-12 text-center">

            <!-- Tabla que muestra las atenciones-->
            <div class="table table-responsive-lg">
                <table class="table table-bordered">
                    <thead class="table-dark">
                        <tr>
                            <th>Fecha</th>
                            <th>Asistencia</th>
                            <th>Pago</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let atencion of filtered | paginate: {id: 'atenciones-paciente', 
                                                                            itemsPerPage: 10,
                                                                            currentPage: currentPage,
                                                                            totalItems: total}">
                            <!-- Fecha -->
                            <td>{{formatDisplayFechaAtencion(atencion)}}</td>

                            <!-- Asistencia -->
                            <td *ngIf="atencion.asistencia == 1">Asiste a su sesión</td>
                            <td *ngIf="atencion.asistencia == -1">No asiste a su sesión </td>
                            <td *ngIf="atencion.asistencia == 0">Asistencia pendiente</td>

                            <!-- Pago por atención -->
                            <td *ngIf="atencion.pago">La sesión fue pagada</td>
                            <td *ngIf="!atencion.pago && atencion.asistencia != -1">La sesión no ha sido pagada</td>
                            <td *ngIf="!atencion.pago && atencion.asistencia == -1">-</td>

                            <!-- Opciones -->
                            <td *ngIf="atencion.pago">
                                <button (click)="detallePago(atencion)" data-toggle="modal" data-target="#detallePago"
                                    class="btn btn-primary multiple-payment-btn-add" type="button">Ver detalle pago</button>
                            </td>
                            <td *ngIf="!atencion.pago && !selected">
                                <button [disabled]="atencion.asistencia == -1"
                                    [routerLink]="['../../../horario/pago', atencion.idAtencion]"
                                    class="btn btn-primary" type="button">Registrar pago</button>
                            </td>
                            <td *ngIf="selected">
                                <button [disabled]="atencion.asistencia == -1"
                                    *ngIf="!atencion.pago && !atencion.pagoMultiple"
                                    class="btn btn-primary multiple-payment-btn-add" type="button"
                                    (click)="addHorarioParaPagarlo(atencion)"><i id="add-icon"
                                        class="bi bi-plus"></i>Agregar</button>

                                <button *ngIf="!atencion.pago && atencion.pagoMultiple"
                                    class="btn btn-primary multiple-payment-btn-remove" type="button"
                                    (click)="removerHorario(atencion)"><i id="remove-icon"
                                        class="bi bi-dash"></i>Remover</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <pagination-controls (pageChange)="currentPage = $event" id="atenciones-paciente" [maxSize]="5"
                    [directionLinks]="true" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
            </div>
        </div>

        <!-- Si el paciente no tiene atenciones asociadas -->
        <div *ngIf="filtered.length == 0" class="col-lg-12 text-center">
            <i id="sin-atenciones" class="bi bi-exclamation-diamond-fill color"></i>
            <h3 class="color">No se encontraron horarios de atención.</h3>
        </div>

        <!-- Botón que permite volver atrás -->
        <div class="col-lg-12 text-center" id="back-button">
            <button (click)="back()" class="btn btn-primary" type="button">Volver</button>
        </div>
    </div>
</div>

<!-- Modal para realizar el pago de múltiples atenciones -->
<div class="modal fade" id="pay-multiple" tabindex="-1" aria-labelledby="pay-multiple" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="col-lg-12">
                    <h3>Registrar Pago</h3>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <form>
                            <!-- Afiliación del paciente -->
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label for="medio-pago">Afiliación de salud del paciente:</label>
                                        <div class="input-group">
                                            <span class="input-group-text"><i
                                                    class="bi bi-file-medical-fill"></i></span>
                                            <input readonly value="{{paciente.afiliacionSalud}}" type="text" ngModel
                                                #afiliacionPaciente="ngModel" class="form-control" id="afiliacion-pago"
                                                name="afiliacion-pago" [(ngModel)]="afiliacion" maxlength="30">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Medio de pago -->
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label for="medio-pago">Medio de pago:</label>
                                        <div class="input-group">
                                            <span class="input-group-text"><i class="bi bi-wallet2"></i></span>
                                            <select required name="medio-pago" id="medio-pago" class="form-select"
                                                ngModel #medioPago="ngModel" [(ngModel)]="pago.medioPago">
                                                <option value="Bono(s)">Bono(s)</option>
                                                <option value="Programa">Programa</option>
                                                <option value="Bonos/Programa">Bonos y programa</option>
                                                <option value="Efectivo">Efectivo</option>
                                            </select>
                                        </div>

                                        <!-- Manejo de errores -->
                                        <div *ngIf="paciente.afiliacionSalud?.toLowerCase() == 'particular' && medioPago.value != 'Efectivo'"
                                            class="col-lg-12">
                                            <small class="text-danger">Para pago particular se debe seleccionar
                                                'Efectivo' como
                                                medio de pago.</small>
                                        </div>
                                        <div *ngIf="paciente.afiliacionSalud?.toLowerCase() != 'particular' && medioPago.value == 'Efectivo'"
                                            class="col-lg-12">
                                            <small class="text-danger">Para pago mediante
                                                {{paciente.afiliacionSalud}} no se debe seleccionar 'Efectivo' como
                                                medio de pago.</small>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Monto del pago -->
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label for="monto-pago">Monto:</label>
                                        <div class="input-group">
                                            <span class="input-group-text"><i class="bi bi-cash-stack"></i></span>
                                            <input
                                                [value]="paciente.afiliacionSalud?.toLowerCase() != 'particular' ? '' : montoPago.value"
                                                [readOnly]="paciente.afiliacionSalud?.toLowerCase() != 'particular'"
                                                [required]="paciente.afiliacionSalud?.toLowerCase() == 'particular' "
                                                pattern="^[0-9]+$" ngModel #montoPago="ngModel" type="number"
                                                class="form-control" [(ngModel)]="pago.montoPago" id="monto-pago"
                                                name="monto-pago">
                                            <div class="col-lg-12">
                                                <small class="form-text text-secondary">Si el paciente paga con
                                                    efectivo, debe
                                                    ingresar el
                                                    monto.</small>
                                            </div>
                                            <div class="col-lg-12">
                                                <small class="form-text text-secondary">Ingrese solo dígitos.</small>
                                            </div>
                                        </div>

                                        <!-- Manejo de errores -->
                                        <div class="col-lg-12"
                                            *ngIf="montoPago.invalid && (montoPago.touched || montoPago.dirty)">
                                            <div *ngIf="montoPago.errors?.required">
                                                <small class="text-danger">Se debe ingresar el monto del pago.</small>
                                            </div>
                                            <div *ngIf="montoPago.errors?.pattern">
                                                <small class="text-danger">Se debe ingresar un monto válido.</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button [disabled]="medioPago.invalid || montoPago.invalid || 
                (paciente.afiliacionSalud?.toLowerCase() == 'particular' && medioPago.value != 'Efectivo') || 
                (paciente.afiliacionSalud?.toLowerCase() != 'particular' && medioPago.value == 'Efectivo')"
                    (click)="confirmPayment()" data-dismiss="modal" class="btn btn-primary" type="button">Registrar
                    pago</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal que permite ver el detalle del pago -->
<div class="modal fade" id="detallePago" tabindex="-1" role="dialog" aria-labelledby="detallePagoLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="col-lg-12">
                    <h3>Detalle Pago</h3>
                </div>
            </div>
            <div class="modal-body">
                <div class="col-lg-12 text-center">
                    <app-pago [horarioAtencion]="horario"></app-pago>
                </div>
            </div>
            <div class=" modal-footer" *ngIf="horario.pago">
                <button [routerLink]="['../../../horario/pago', horario.idAtencion, horario.pago.idPago]"
                    class="btn btn-primary" type="button" data-dismiss="modal">Modificar pago</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>