#main {
    margin-top: 40px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    background-color: #fff;
    border-radius: 15px;
    padding-top: 20px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 80px;
}

#search-by-name-input {
    margin-top: 7px;
}

#title {
    padding-bottom: 25px;
    margin-bottom: 10px;
    border-bottom: 5px solid #284b63;
}

.date {
    margin-top: 30px;
}

.table-dark {
    background-color: #284b63;
}

button, button:disabled, button:focus {
    background-color: #284b63;
    border-color: #284b63;
}

button:hover {
    background-color: #d9d9d9;
    border-color: #d9d9d9;
    color: #353535;
}

i, span {
    background-color: #284b63;
    color: #fff;
}