<div class="container" id="main">
    <div class="container">
        <!-- Ícono y nombre del paciente -->
        <div class="row" id="header">
            <div class="col-lg-4">
                <i class="bi bi-person-lines-fill"></i>
            </div>
            <div class="col-lg-8" id="patient-name">
                <h1>{{paciente.nombre + " " + paciente.apellido}}</h1>
            </div>
        </div>
        <div class="row" id="body">
            <div class="col-lg-4">
                <h4>Edad:</h4>
            </div>
        </div>
    </div>
</div>