#datos-paciente {
    border-bottom: 5px solid #284b63;
}

#header {
    height: 270px;
    border-bottom: 5px solid #284b63;
    margin-bottom: 20px;
}

#main {
    margin-top: 40px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    background-color: #fff;
    border-radius: 15px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 80px;
}

#patient-name {
    padding-top: 85px;
    color: #284b63;
}

.color {
    color: #284b63;
}

.datos {
    margin-bottom: 40px;
}

.icons {
    font-size: 40px;
}

.info-paciente {
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 5px solid #284b63;
}

.options {
    margin: 10px 5px;
}

.overflow {
    overflow-wrap: break-word;
}

button { 
    margin-top: 10px;
}

button, button:hover, button:disabled, button:focus {
    background-color: #284b63;
    border-color: #284b63;
}

i {
    font-size: 200px;
    color: #284b63;
}