<div class="row">
    <div class="col-lg-12 text-center">
        <h2>Anamnesis</h2>

        <!-- Fecha de la anamnesis -->
        <div class="row datos-anamnesis">
            <div class="col-lg-12">
                <i class="bi bi-calendar-event icons"></i>
                <h5 class="color">Fecha anamnesis</h5>
                <p class="overflow">{{fechaAnamnesis}}</p>
            </div>
        </div>

        <!-- Motivo de la consulta -->
        <div class="row datos-anamnesis">
            <div class="col-lg-12">
                <i class="bi bi-question-circle-fill icons"></i>
                <h5 class="color">Motivo consulta</h5>
                <p class="overflow">{{paciente?.anamnesis?.motivoConsultaPaciente}}</p>
            </div>
        </div>

        <!-- Antecedentes del paciente -->
        <div class="row datos-anamnesis">
            <div class="col-lg-12">
                <i class="bi bi-person-fill icons"></i>
                <h5 class="color">Antecedentes</h5>
                <p class="overflow">{{paciente?.anamnesis?.antecedentesPaciente}}</p>
            </div>
        </div>

        <!-- Antecedentes familiares -->
        <div class="row datos-anamnesis">
            <div class="col-lg-12">
                <i class="bi bi-people-fill icons"></i>
                <h5 class="color">Antecedentes familiares</h5>
                <p class="overflow">{{paciente?.anamnesis?.antecedentesFamiliares}}</p>
            </div>
        </div>

        <!-- Observaciones -->
        <div class="row datos-anamnesis">
            <div class="col-lg-12">
                <i class="bi bi-chat-left-dots-fill icons"></i>
                <h5 class="color">Observaciones</h5>
                <p class="overflow">{{paciente?.anamnesis?.observaciones}}</p>
            </div>
        </div>

        <div *ngIf="paciente.estado == 'Activo'" class="row datos-anamnesis">
            <div class="col-lg-12">
                <button [routerLink]="['../anamnesis/', paciente.idPaciente]" class="btn btn-primary"
                    type="button">Modificar anamnesis</button>
            </div>
        </div>
    </div>
</div>