.login-navbar {
    height: 150px;
    border-radius: 10px;
    width: 35vw;
    margin: 0 auto;
    margin-top: 20px;
}

.navbar-brand {
    font-size: 30px;
}

a {
    font-size: 25px;
    cursor: pointer;
}

h1, h3 {
    color: #fff;
}

nav {
    margin: 0 auto;
    height: 105px;
    width: 100vw;
}