<div class="date" id="main">
    <div class="row title">
        <div class="col-lg-6 date">
            <h2>Historial de pacientes</h2>
            <h5>Pacientes que han asistido a la consulta, pero que no se atienden actualmente.</h5>
        </div>
        <div class="col-lg-6" id="search-by-name-input">
            <app-busqueda-paciente (searchPatientEvent)="searchInactivePatients($event)"></app-busqueda-paciente>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="table-responsive-lg text-center">
                <table class="table table-bordered">
                    <thead class="table-dark">
                        <tr>
                            <th>Nombre</th>
                            <th>Número de contacto</th>
                            <th>Afiliación de salud</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let paciente of pacientesInactivos">
                            <td>{{paciente.nombre + " " + paciente.apellido}}</td>
                            <td>{{paciente.telefono}}</td>
                            <td>{{paciente.afiliacionSalud}}</td>
                            <td>
                                <div class="row">
                                    <div class="col-lg-12 text-center">
                                        <button [routerLink]="['../../../', paciente.idPaciente]" class="btn btn-primary"
                                            type="button">Ver detalle</button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="row">
                    <div class="col-lg-6">
                        <app-historial-paginador *ngIf="paginador" [paginador]='paginador'></app-historial-paginador>
                    </div>
                    <div class="col-lg-6 text-right">
                        <button (click)="back()" class="btn btn-primary" type="button">Volver</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
