<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="row horario" *ngFor="let horario of hoursInTheMorning">
                <div class="col-4 text-center hora">
                    <h3>{{horario}} hrs.</h3>
                </div>
                <div class="col-8 datos">
                    <h3>Disponible</h3>
                    <button class="btn btn-primary" (click)="nuevoHorario()">Agendar</button>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="row horario" *ngFor="let horario of hoursInTheEvening">
                <div class="col-4 text-center hora">
                    <h3>{{horario}} hrs.</h3>
                </div>
                <div class="col-8 datos">
                    <h3>Disponible</h3>
                    <button class="btn btn-primary" (click)="nuevoHorario()">Agendar</button>
                </div>
            </div>
        </div>
    </div>
</div>