<div class="container" id="main">
    <div class="row">
        <div class="col-lg-12" id="title">
            <h2>{{paciente.nombre + " " + paciente.apellido}}</h2>
            <h5>Complete los campos solicitados para registrar la anamnesis del paciente.</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12" id="body">
            <form>

                <!-- Motivo de consulta del paciente -->
                <div class="col-lg-12">
                    <div class="form-group">
                        <label for="motivo-consulta-paciente" class="form-label">Motivo de la consulta:</label>
                        <div class="input-group">
                            <span class="input-group-text"><i class="bi bi-question-circle"></i></span>
                            <textarea name="motivo-consulta-paciente" id="motivo-consulta-paciente" cols="12" rows="6"
                                class="form-control" ngModel #motivoConsulta="ngModel"
                                [(ngModel)]="anamnesis.motivoConsultaPaciente" required maxlength="2000"></textarea>

                            <!-- Para manejar el dictado por voz -->
                            <span class="input-group-text">
                                <!-- Botón que inicia el dictado por voz -->
                                <button *ngIf="!recording" class="btn btn-primary" type="button"
                                    title="Iniciar dictado por voz" (click)="record()"><i
                                        class="bi bi-mic-fill"></i></button>

                                <!-- Botón que detiene el dictado por voz -->
                                <button *ngIf="recording" class="btn btn-primary" type="button"
                                    title="Iniciar dictado por voz" (click)="stopRecording(1)"><i
                                        class="bi bi-mic-fill"></i></button>
                            </span>
                        </div>

                        <!-- Manejo de errores -->
                        <div class="col-lg-12"
                            *ngIf="motivoConsulta.invalid && (motivoConsulta.touched || motivoConsulta.dirty)">
                            <div *ngIf="motivoConsulta.errors?.required">
                                <small class="text-danger">Se debe ingresar el motivo de la consulta.</small>
                            </div>
                            <div *ngIf="motivoConsulta.errors && !motivoConsulta.errors.required">
                                <small class="text-danger">Solo se permite un máximo de 2000 caracteres.</small>
                            </div>
                        </div>

                        <!-- Para mostrar los caracteres restantes -->
                        <div
                            *ngIf="motivoConsulta && motivoConsulta.value?.length > 1500 && motivoConsulta.value?.length < 2000">
                            <small class="text-secondary">Quedan {{2000 - motivoConsulta.value?.length}}
                                caracteres.</small>
                        </div>
                    </div>
                </div>

                <!-- Antecedentes del paciente -->
                <div class="col-lg-12">
                    <div class="form-group">
                        <label for="antecedentes-paciente" class="form-label">Antecedentes del paciente:</label>
                        <div class="input-group">
                            <span class="input-group-text"><i class="bi bi-person-fill"></i></span>
                            <textarea name="antecedentes-paciente" id="antecedentes-paciente" cols="12" rows="6"
                                class="form-control" ngModel #antecedentesPaciente="ngModel"
                                [(ngModel)]="anamnesis.antecedentesPaciente" required maxlength="2000"></textarea>

                            <!-- Para manejar el dictado por voz -->
                            <span class="input-group-text">
                                <!-- Botón que inicia el dictado por voz -->
                                <button *ngIf="!recording" class="btn btn-primary" type="button"
                                    title="Iniciar dictado por voz" (click)="record()"><i
                                        class="bi bi-mic-fill"></i></button>

                                <!-- Botón que detiene el dictado por voz -->
                                <button *ngIf="recording" class="btn btn-primary" type="button"
                                    title="Iniciar dictado por voz" (click)="stopRecording(2)"><i
                                        class="bi bi-mic-fill"></i></button>
                            </span>
                        </div>

                        <!-- Manejo de errores -->
                        <div class="col-lg-12"
                            *ngIf="antecedentesPaciente.invalid && (antecedentesPaciente.touched || antecedentesPaciente.dirty)">
                            <div *ngIf="antecedentesPaciente.errors?.required">
                                <small class="text-danger">Se deben ingresar los antecedentes del paciente.</small>
                            </div>

                            <div *ngIf="antecedentesPaciente.errors && !antecedentesPaciente.errors.required">
                                <small class="text-danger">Solo se permite un máximo de 2000 caracteres.</small>
                            </div>
                        </div>

                        <!-- Para mostrar los caracteres restantes -->
                        <div
                            *ngIf="antecedentesPaciente && antecedentesPaciente.value?.length > 1500 && antecedentesPaciente.value?.length < 2000">
                            <small class="text-secondary">Quedan {{2000 - antecedentesPaciente.value?.length}}
                                caracteres.</small>
                        </div>
                    </div>
                </div>

                <!-- Antecedentes familiares del paciente -->
                <div class="col-lg-12">
                    <div class="form-group">
                        <label for="antecedentes-familiares-paciente" class="form-label">Antecedentes familiares del
                            paciente:</label>
                        <div class="input-group">
                            <span class="input-group-text"><i class="bi bi-people-fill"></i></span>
                            <textarea name="antecedentes-familiares-paciente" id="antecedentes-familiares-paciente"
                                cols="12" rows="6" class="form-control" ngModel
                                #antecedentesFamiliaresPaciente="ngModel" [(ngModel)]="anamnesis.antecedentesFamiliares"
                                required maxlength="2000"></textarea>

                            <!-- Para manejar el dictado por voz -->
                            <span class="input-group-text">
                                <!-- Botón que inicia el dictado por voz -->
                                <button *ngIf="!recording" class="btn btn-primary" type="button"
                                    title="Iniciar dictado por voz" (click)="record()"><i
                                        class="bi bi-mic-fill"></i></button>

                                <!-- Botón que detiene el dictado por voz -->
                                <button *ngIf="recording" class="btn btn-primary" type="button"
                                    title="Iniciar dictado por voz" (click)="stopRecording(3)"><i
                                        class="bi bi-mic-fill"></i></button>
                            </span>
                        </div>

                        <!-- Manejo de errores -->
                        <div class="col-lg-12"
                            *ngIf="antecedentesFamiliaresPaciente.invalid && (antecedentesFamiliaresPaciente.touched || antecedentesFamiliaresPaciente.dirty)">
                            <div *ngIf="antecedentesFamiliaresPaciente.errors?.required">
                                <small class="text-danger">Se deben ingresar los antecedentes familiares del
                                    paciente.</small>
                            </div>

                            <div
                                *ngIf="antecedentesFamiliaresPaciente.errors && !antecedentesFamiliaresPaciente.errors?.required">
                                <small class="text-danger">Solo se permite un máximo de 2000 caracteres.</small>
                            </div>
                        </div>

                        <!-- Para mostrar los caracteres restantes -->
                        <div
                            *ngIf="antecedentesFamiliaresPaciente && antecedentesFamiliaresPaciente.value?.length > 1500 && antecedentesFamiliaresPaciente.value?.length < 2000">
                            <small class="text-secondary">Quedan {{2000 - antecedentesFamiliaresPaciente.value?.length}}
                                caracteres.</small>
                        </div>
                    </div>
                </div>

                <!-- Observaciones generales -->
                <div class="col-lg-12">
                    <div class="form-group">
                        <label for="observaciones" class="form-label">Observaciones generales:</label>
                        <div class="input-group">
                            <span class="input-group-text"><i class="bi bi-chat-left-dots-fill"></i></span>
                            <textarea name="observaciones" id="observaciones" cols="12" rows="6" class="form-control"
                                ngModel #observaciones="ngModel" [(ngModel)]="anamnesis.observaciones"
                                maxlength="2000"></textarea>

                            <!-- Para manejar el dictado por voz -->
                            <span class="input-group-text">
                                <!-- Botón que inicia el dictado por voz -->
                                <button *ngIf="!recording" class="btn btn-primary" type="button"
                                    title="Iniciar dictado por voz" (click)="record()"><i
                                        class="bi bi-mic-fill"></i></button>

                                <!-- Botón que detiene el dictado por voz -->
                                <button *ngIf="recording" class="btn btn-primary" type="button"
                                    title="Iniciar dictado por voz" (click)="stopRecording(4)"><i
                                        class="bi bi-mic-fill"></i></button>
                            </span>
                        </div>

                        <!-- Manejo de errores -->
                        <div class="col-lg-12"
                            *ngIf="observaciones.errors || observaciones.invalid && (observaciones.touched || observaciones.dirty)">
                            <div *ngIf="observaciones.errors">
                                <small class="text-danger">Solo se permite un máximo de 2000 caracteres.</small>
                            </div>
                        </div>

                        <!-- Para mostrar los caracteres restantes -->
                        <div
                            *ngIf="observaciones && observaciones.value?.length > 1500 && observaciones.value?.length < 2000">
                            <small class="text-secondary">Quedan {{2000 - observaciones.value?.length}}
                                caracteres.</small>
                        </div>
                    </div>
                </div>

                <div class="row">

                    <!-- Guardar/actualizar la anamnesis -->
                    <div class="col-lg-7 text-right">
                        <button *ngIf="!anamnesis.idAnamnesis; else updateButton" (click)="createAnamnesis()"
                            [disabled]="motivoConsulta.invalid || antecedentesPaciente.invalid || antecedentesFamiliaresPaciente.invalid"
                            class="btn btn-primary" type="submit">Registrar anamnesis</button>

                        <ng-template #updateButton>
                            <button (click)="updateAnamnesis()"
                                [disabled]="motivoConsulta.invalid || antecedentesPaciente.invalid || antecedentesFamiliaresPaciente.invalid"
                                class="btn btn-primary" type="submit">Guardar cambios</button>
                        </ng-template>
                    </div>

                    <!-- Para volver atrás -->
                    <div class="col-lg-5 text-right">
                        <button
                            (click)="back(motivoConsulta.value, antecedentesPaciente.value, antecedentesFamiliaresPaciente.value, observaciones.value)"
                            class="btn btn-primary" type="button">Volver</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>