<div class="container card" id="main">
    <div class="row" id="title">
        <div class="col-lg-12 date">
            <h2>{{title}}</h2>
            <h5>{{subtitle}}</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <form (ngSubmit)="updatePaciente()">
                <div class="row">

                    <!-- Nombre paciente -->
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="nombre-paciente">Nombre:</label>
                            <div class="input-group">
                                <span class="input-group-text"><i class="bi bi-person-fill"></i></span>
                                <input id="nombre-paciente" name="nombre-paciente" type="text" class="form-control"
                                    [(ngModel)]="paciente.nombre" ngModel #nombrePaciente="ngModel" required
                                    minlength="3" maxlength="30" pattern="^(?!\s)^[a-zA-ZÀ-ÿ\u00f1\u00d1\s]+$">

                                <!-- Manejo de errores -->
                                <div *ngIf="nombrePaciente?.invalid && (nombrePaciente?.touched || nombrePaciente?.dirty)"
                                    class="col-lg-12">
                                    <div *ngIf="nombrePaciente.errors?.required">
                                        <small class="text-danger">Se debe ingresar el nombre del paciente!</small>
                                    </div>
                                    <div *ngIf="nombrePaciente.errors?.minlength">
                                        <small class="text-danger">El nombre debe poseer un mínimo de tres
                                            caracteres!</small>
                                    </div>
                                    <div *ngIf="nombrePaciente.errors?.pattern">
                                        <small class="text-danger">El/los nombre(s) no debe(n) comenzar con un espacio
                                            en blanco,
                                            contener dígitos ni caracteres
                                            especiales!</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Apellido del paciente -->
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="apellido-paciente">Apellidos:</label>
                            <div class="input-group">
                                <span class="input-group-text"><i class="bi bi-person-fill"></i></span>
                                <input id="apellido-paciente" name="apellido-paciente" type="text" class="form-control"
                                    [(ngModel)]="paciente.apellido" ngModel #apellidoPaciente="ngModel" required
                                    minlength="3" maxlength="30" pattern="^(?!\s)^[a-zA-ZÀ-ÿ\u00f1\u00d1\s]+$">

                                <!-- Manejo de errores -->
                                <div *ngIf="apellidoPaciente?.invalid && (apellidoPaciente?.touched || apellidoPaciente?.dirty)"
                                    class="col-lg-12">
                                    <div *ngIf="apellidoPaciente.errors?.required">
                                        <small class="text-danger">Se debe ingresar el/los apellido(s) del
                                            paciente!</small>
                                    </div>
                                    <div *ngIf="apellidoPaciente.errors?.minlength">
                                        <small class="text-danger">El/los apellido(s) debe(n) poseer un mínimo de tres
                                            caracteres!</small>
                                    </div>
                                    <div *ngIf="apellidoPaciente.errors?.pattern">
                                        <small class="text-danger">El/los apellido(s) no debe(n) comenzar con un espacio
                                            en blanco,
                                            contener dígitos ni caracteres
                                            especiales!</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Teléfono del paciente -->
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="telefono-paciente">Telefono:</label>
                            <div class="input-group">
                                <span class="input-group-text"><i class="bi bi-telephone-forward-fill"></i></span>
                                <span class="input-group-text">+569</span>
                                <input id="telefono-paciente" name="telefono-paciente" type="text" class="form-control"
                                    [(ngModel)]="paciente.telefono" ngModel #telefonoPaciente="ngModel" required
                                    minlength="8" maxlength="8" pattern="^(?!\s)^[0-9]+$">
                                <div class="col-lg-12">
                                    <small class="form-text text-secondary">No es necesario que ingrese "+569"</small>
                                </div>

                                <!-- Manejo de errores -->
                                <div *ngIf="telefonoPaciente?.invalid && (telefonoPaciente?.touched || telefonoPaciente?.dirty)"
                                    class="col-lg-12">
                                    <div *ngIf="telefonoPaciente.errors?.required">
                                        <small class="text-danger">Se debe ingresar el número de teléfono del
                                            paciente!</small>
                                    </div>
                                    <div *ngIf="telefonoPaciente.errors?.minlength">
                                        <small class="text-danger">El número de teléfono debe poseer un total de 8
                                            dígitos!</small>
                                    </div>
                                    <div *ngIf="telefonoPaciente.errors?.pattern">
                                        <small class="text-danger">El número de teléfono solo debe contener
                                            dígitos!</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">

                    <!-- Fecha de nacimiento -->
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="fecha-nacimiento-paciente">Fecha de nacimiento:</label>
                            <div class="input-group">
                                <span class="input-group-text"><i class="bi bi-calendar2-check-fill"></i></span>
                                <input id="fecha-nacimiento-paciente" name="fecha-nacimiento-paciente" type="date"
                                    class="form-control" [(ngModel)]="paciente.fechaNacimiento" ngModel
                                    #fechaNacimientoPaciente="ngModel" required
                                    [ngStyle]="fechaNacimientoPaciente.value > fechaActual ? {'border': '2px solid red'} : {}">

                                <!-- Manejo de errores -->
                                <div *ngIf="fechaNacimientoPaciente?.invalid && (fechaNacimientoPaciente?.touched || fechaNacimientoPaciente?.dirty)"
                                    class="col-lg-12">
                                    <div *ngIf="telefonoPaciente.errors?.required">
                                        <small class="text-danger">Se debe ingresar la fecha de nacimiento del
                                            paciente!</small>
                                    </div>
                                </div>
                                <div *ngIf="(fechaNacimientoPaciente?.touched || fechaNacimientoPaciente?.dirty) && fechaNacimientoPaciente.value > fechaActual"
                                    class="col-lg-12">
                                    <small class="text-danger">La fecha de nacimiento del paciente no puede ser una
                                        fecha
                                        futura.</small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- E-mail -->
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="email-paciente">E-mail</label>
                            <div class="input-group">
                                <span class="input-group-text"><i class="bi bi-at"></i></span>
                                <input id="email-paciente" name="email-paciente" type="email" class="form-control"
                                    [(ngModel)]="paciente.email" ngModel #emailPaciente="ngModel" email>

                                <!-- Manejo de errores -->
                                <div *ngIf="emailPaciente.invalid && (emailPaciente.touched || emailPaciente.dirty)"
                                    class="col-lg-12">
                                    <div *ngIf="emailPaciente.errors">
                                        <small class="text-danger">Se debe ingresar un e-mail válido.</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">

                    <!-- Ocupación del paciente -->
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="ocupacion-paciente">Profesión u ocupación:</label>
                            <div class="input-group">
                                <span class="input-group-text"><i class="bi bi-briefcase-fill"></i></span>
                                <input id="ocupacion-paciente" name="ocupacion-paciente" type="text"
                                    class="form-control" [(ngModel)]="paciente.ocupacion" ngModel
                                    #ocupacionPaciente="ngModel" required maxlength="100"
                                    pattern="^(?!\s)^[a-zA-ZÀ-ÿ\u00f1\u00d1\s]+$">

                                <!-- Manejo de errores -->
                                <div *ngIf="ocupacionPaciente?.invalid && (ocupacionPaciente?.touched || ocupacionPaciente?.dirty)"
                                    class="col-lg-12">
                                    <div *ngIf="ocupacionPaciente.errors?.required">
                                        <small class="text-danger">Se debe ingresar la profesión u ocupación del
                                            paciente!</small>
                                    </div>
                                    <div *ngIf="ocupacionPaciente.errors?.pattern">
                                        <small class="text-danger">No se permite el ingreso de un espacio en blanco al
                                            comienzo, ni el ingreso de dígitos o caracteres
                                            especiales!</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Institución del paciente -->
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="institucion-paciente">Institución:</label>
                            <div class="input-group">
                                <span class="input-group-text"><i class="bi bi-person-badge-fill"></i></span>
                                <input id="institucion-paciente" name="institucion-paciente" type="text"
                                    class="form-control" [(ngModel)]="paciente.institucion" ngModel
                                    #institucionPaciente="ngModel" required maxlength="100"
                                    pattern="^(?!\s)^[0-9a-zA-ZÀ-ÿ-\u00f1\u00d1\s]+$">

                                <!-- Manejo de errores -->
                                <div *ngIf="institucionPaciente?.invalid && (institucionPaciente?.touched || institucionPaciente?.dirty)"
                                    class="col-lg-12">
                                    <div *ngIf="institucionPaciente.errors?.required">
                                        <small class="text-danger">Se debe ingresar la institución en la que se
                                            desempeña el paciente!</small>
                                    </div>
                                    <div *ngIf="institucionPaciente.errors?.pattern">
                                        <small class="text-danger">No se puede comenzar con un espacio en
                                            blanco, ni caracteres especiales!</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">

                    <!-- Afiliación de salud del paciente -->
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="afiliacion-salud-paciente">Afiliación de salud:</label>
                            <div class="input-group">
                                <span class="input-group-text"><i class="bi bi-file-medical-fill"></i></span>
                                <input id="afiliacion-salud-paciente" name="afiliacion-salud-paciente" type="text"
                                    class="form-control" [(ngModel)]="paciente.afiliacionSalud" ngModel
                                    #afiliacionSaludPaciente="ngModel" required maxlength="100"
                                    pattern="^(?!\s)^[0-9a-zA-ZÀ-ÿ\u00f1\u00d1\s]+$">

                                <!-- Manejo de errores -->
                                <div *ngIf="afiliacionSaludPaciente?.invalid && (afiliacionSaludPaciente?.touched || afiliacionSaludPaciente?.dirty)"
                                    class="col-lg-12">
                                    <div *ngIf="afiliacionSaludPaciente.errors?.required">
                                        <small class="text-danger">Se debe ingresar la afiliación de salud del
                                            paciente!</small>
                                    </div>
                                    <div *ngIf="afiliacionSaludPaciente.errors?.pattern">
                                        <small class="text-danger">No se puede comenzar con un espacio en
                                            blanco!</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Estado civil del paciente -->
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="estado-civil-paciente">Estado civil:</label>
                            <div class="input-group">
                                <span class="input-group-text"><i class="bi bi-person-fill"></i></span>
                                <input id="estado-civil-paciente" name="estado-civil-paciente" type="text"
                                    class="form-control" [(ngModel)]="paciente.estadoCivil" ngModel
                                    #estadoCivilPaciente="ngModel" required maxlength="100"
                                    pattern="^(?!\s)^[a-zA-ZÀ-ÿ\u00f1\u00d1\s]+$">

                                <!-- Manejo de errores -->
                                <div *ngIf="estadoCivilPaciente?.invalid && (estadoCivilPaciente?.touched || estadoCivilPaciente?.dirty)"
                                    class="col-lg-12">
                                    <div *ngIf="estadoCivilPaciente.errors?.required">
                                        <small class="text-danger">Se debe ingresar el estado civil del
                                            paciente!</small>
                                    </div>
                                    <div *ngIf="estadoCivilPaciente.errors?.pattern">
                                        <small class="text-danger">No se permite comenzar con un espacio en blanco, el
                                            ingreso de dígitos o caracteres
                                            especiales!</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">

                    <!-- Grupo familiar del paciente -->
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label for="grupo-familiar-paciente">Grupo familiar del paciente:</label>
                            <div class="input-group">
                                <span class="input-group-text"><i class="bi bi-people-fill"></i></span>
                                <textarea [ngStyle]="!familiaNuclear.value?.trim() ? {'border': '2px solid red'} : {}"
                                    name="grupo-familiar-paciente" id="grupo-familiar-paciente" cols="12" rows="3"
                                    class="form-control" ngModel [(ngModel)]="paciente.familiaNuclear"
                                    #familiaNuclear="ngModel" required maxlength="1000"></textarea>
                                <span class="input-group-text">
                                    <!-- Si no se ha comenzado a grabar, se despliega botón que permite iniciar el dictado -->
                                    <button (click)="record()" *ngIf="!recording" title="Iniciar dictado por voz"
                                        class="btn btn-primary" id="dictado-btn" type="button">
                                        <i class="bi bi-mic-fill"></i>
                                    </button>

                                    <!-- Si se está grabando, se despliega botón que permite detener la grabación -->
                                    <button (click)="stopRecording()" *ngIf="recording" class="btn btn-primary"
                                        type="button" title="Detener dictado por voz" id="stop-dictado-btn">
                                        <i class="bi bi-mic-mute-fill"></i>
                                    </button>

                                </span>
                            </div>
                            <div *ngIf="familiaNuclear?.invalid && (familiaNuclear?.touched || familiaNuclear?.dirty)"
                                class="col-lg-12">
                                <div *ngIf="familiaNuclear.errors?.required">
                                    <small class="text-danger">Se debe ingresar el grupo familiar del paciente!</small>
                                </div>
                                <div *ngIf="familiaNuclear.errors && !familiaNuclear.errors?.required">
                                    <small class="text-danger">Sólo se permite un máximo de 1000 caracteres!</small>
                                </div>
                            </div>
                            <div *ngIf="familiaNuclear && familiaNuclear.value?.length > 900 && familiaNuclear.value?.length < 1000"
                                class="col-lg-12">
                                <small class="text-secondary">Quedan {{1000 -
                                    familiaNuclear.value?.length}} caracteres.</small>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-lg-7 text-right">
                        <!-- Guardar cambios -->
                        <button [disabled]="nombrePaciente.invalid || apellidoPaciente.invalid || telefonoPaciente.invalid 
|| fechaNacimientoPaciente.invalid || ocupacionPaciente.invalid || institucionPaciente.invalid
|| afiliacionSaludPaciente.invalid || estadoCivilPaciente.invalid || familiaNuclear.invalid || emailPaciente.invalid 
|| fechaNacimientoPaciente.value > fechaActual || !familiaNuclear.value?.trim()" type="submit"
                            class="btn btn-primary">Guardar cambios</button>
                    </div>
                    <div class="col-lg-5 text-right">
                        <!-- Cancelar operación/volver -->
                        <button
                            (click)="back(nombrePaciente.value, apellidoPaciente.value, telefonoPaciente.value, 
                            fechaNacimientoPaciente.value, ocupacionPaciente.value, institucionPaciente.value, 
                            afiliacionSaludPaciente.value, estadoCivilPaciente.value, familiaNuclear.value, emailPaciente.value)"
                            class="btn btn-primary" type="button">Volver</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>