button, button:disabled, button:focus {
    background-color: #284b63;
    border-color: #284b63;
}

button:hover {
    background-color: #d9d9d9;
    border-color: #d9d9d9;
    color: #353535;
}

i, span {
    background-color: #284b63;
    color: #fff;
}