<form>
    <div class="form-group">
        <label for="nombre-paciente">Buscar paciente por su nombre:</label>
        <div class="input-group">
            <span class="input-group-text"><i class="bi bi-person-lines-fill"></i></span>
            <input required maxlength="30" minlength="3" type="text" class="form-control"
                id="nombre-paciente" ngModel name="nombre-paciente" #nombrePaciente="ngModel"
                placeholder="Ingrese el primer nombre, o ambos">
        </div>
    </div>
    <button [disabled]="nombrePaciente.invalid" type="submit" class="btn btn-primary"
        (click)="eventEmitter(nombrePaciente.value)">Buscar</button>
</form>
